Package: com.qwertyoruiop.uisettings2
Name: UISettings
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nothing2hide
Author: nothing2hide
Section: Tweaks
