Package: com.qwertyoruiop.uitoggles
Name: UIToggles
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: qwerty or uiop?
Author: qwerty or uiop?
Section: System
Tag: role::developer
